.header-container {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    
        .header {
                border-bottom: 1px solid #e7e9fc;
            }
        }

.logo {
    color: #2E2F42;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    padding: 16px 0;
    display: inline-block;
    margin-right: 149px;
}



@media screen and (min-width: 768px) {
    .logo {
        padding: 24px 0;
        margin-right: 0;
    }
}

.logo .logo-span {
    color: #4D5AE5;
}

@media screen and (min-width: 768px) {
    .nav-list {
            margin-left: 120px;
            display: flex;
            gap: 40px;
        }
}
@media screen and (min-width: 1158px) {
    .nav-list {
            margin-left: 76px;
            display: flex;
            gap: 40px;
        }
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-link {
        display: block;
    }
}

 .nav-list .nav-link:hover,
 .nav-list .nav-link:focus {
    color: #404bbf;



}


.nav-link.current {
    color: #404bbf;
} 

 .nav-link.current::after {
     color: #404bbf;
     content: "";
     display: block;
     width: 100%;
     background-color: #404bbf;
     position: absolute;
     border-radius: 2px;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 4px;

 }

.contacts {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    
}

.contacts-list {
    display: none;
} 

@media screen and (min-width: 768px) {
    .contacts {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        }

    .contacts-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;

    }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }
}

 .contacts-list .contacts-link {
    text-decoration: none;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
} 

@media screen and (min-width: 768px) {
    .contacts-list .contacts-link {
        display: flex;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1158px) {
    .contacts-list .contacts-link {
        font-size: 16px;
    }
}

.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
    color: #404bbf;
}


 .burger {
     background: transparent;
     border: none;
     cursor: pointer;
 }

 @media screen and (min-width: 768px) {
     .burger {
         display: none;
     }
 }

 .burger-icon {
        color: #2e2f42;
        
 }

   