.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    top:0;
    left: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



.modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FCFCFC;
    border-radius: 4px;
    max-width: 408px;
    position: relative;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

.modal-btn-close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    fill: #2e2f42;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover, .modal-btn-close:focus{
    border: 1px solid #404BBF;
    background-color: #404BBF;
    fill:#fff;
}
.modal-text{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    max-width: 339px;
    margin: 0 auto 16px;
}

.label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #8E8F99;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.label + .label {
    margin-top: 8px;
}

.modal-input{
    
    width: 100%;
    height: 40px;
    padding-bottom: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    padding: 8px 38px;
    position: relative;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus{
border-color: #4D5AE5;
}

label > span {
    position: relative;
    display: block;
    margin-top: 4px;
}
.modal-icon{
    fill: #2e2f42;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 999;
    left: 16px;
    top: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label > .modal-span:focus-within .modal-icon{
    fill: #4D5AE5;

}

.label > .modal-span:focus-within .modal-icon{
    fill: #4D5AE5;
}

.modal-form-comment{
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-top: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:hover, .modal-form-comment:focus{
    border-color: #4D5AE5;
}

.modal-form-comment::placeholder{
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
}

.modal-btn-send {
border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    background-color: #4d5ae5; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
        align-self: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        letter-spacing: 0.04em;
    
}

.modal-btn-send:hover, .modal-btn-send:focus{
 background-color: #404BBF;
}


.checkbox-wrapper{
    position: relative;
    margin-bottom: 24px;
    margin-top: 16px;
    
}

.checkbox{
    position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.checkbox-label{
    display: flex;
        align-items: flex-start;
        cursor: pointer;
        gap: 8px;
        color: #8e8f99;
}

.checkbox-icon{
    display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(46, 47, 66, 0.4);
        fill: #2e2f42;
        border-radius: 2px;
        pointer-events: none;
        width: 16px;
        height: 16px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
    color: #4d5ae5;
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link:hover,
.checkbox-link:focus {
    color: #404bbf;
}



.checkbox:checked+.checkbox-label .checkbox-icon .checkbox-svg {
    opacity: 1;
    
}

.checkbox-svg {
    opacity: 0;
    fill: #f4f4fd;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-label .checkbox-icon {
    background-color: #404bbf;
    border-color: #404bbf;
   
}

.checkbox-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

