.portfolio-title {
    font-size: 36px;
    line-height: 1.11111;
     text-align: center;
     color: #2E2F42;
     margin-bottom: 72px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    
    flex-basis: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-item:hover .overlay,
.portfolio-item:focus-within .overlay {
    transform: translateY(0);
   
}


.portfolio-img-wrapper{
    position: relative;
    overflow: hidden;
}
.portfolio-item:hover, .portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}


.overlay{
    color:#F4F4FD;
  display: flex;
  width: 100%;
 position: absolute;
inset: 0;
 top: 0;
 left: 0;
 background-color: #4D5AE5;
 transform: translateY(100%);

padding: 40px 32px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}